/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {

  :root {
    /* 6 items wide / max items per line */
    --items: 6;
    --size-multiplier: calc(10/6);
    --bento-margin: calc(var(--bento-margin-base) * var(--size-multiplier));
    --border-width: calc(var(--border-width-base) * var(--size-multiplier));
    --font-size: calc(var(--font-size-base) * var(--size-multiplier));
    --header-font-size: calc(var(--header-font-size-base) * var(--size-multiplier) );
  }

  .grid .item-4-3, .grid .item-4-2 {
    --font-size: calc(var(--font-size-base) / 4 * 6); 
  }

  footer .cake {
  background-image: url("/img/burgerbird-cake/burgerbird-cake-1200.webp");
  }

}

@media screen and (max-width: 600px) {

  :root {
    /* 4 items wide / max items per line */
    --items: 4;
    --size-multiplier: 1.67;
    --bento-margin: calc(var(--bento-margin-base) * var(--size-multiplier));
    --border-width: calc(var(--border-width-base) * var(--size-multiplier));
    --font-size: calc(var(--font-size-base) * var(--size-multiplier));
    --header-font-size: calc(var(--header-font-size-base) * 2.7);

  }

  .grid .item-6-3,
  .grid .item-4-2 {
    --width: 4;
    width: calc(var(--bento-base-width) / var(--items) * var(--width) - (var(--width) / var(--items) * 2 + 2) * var(--bento-margin) - var(--scrollbar-width) / var(--items) * var(--width));
    --height: 2;
    height: calc(var(--bento-base-width) / var(--items) * var(--height) - (var(--height) / var(--items) * 2 + 2) * var(--bento-margin) - var(--scrollbar-width) / var(--items) * var(--height));
  }

  .slide-menu {
    width: 65vw;
  }

  .grid .item-4-3, .grid .item-4-2 {
    --font-size: calc(var(--font-size-base) * 2.5); 
  }

  .item-content.burgerbird-city img {
    height: 100%;
    width: auto;
  }

  footer .cake {
    background-image: url("/img/burgerbird-cake/burgerbird-cake-600.webp");
  }
}

@media screen and (min-width: 2000px) {

  :root {
    
    --bento-base-width: 2000px;
    --bento-base-multiplier: 20px;
    --header-font-size-base: 72px;
    --font-size: 20px;

  }

}