:root {
  /* Bento Colors */
  --bento-black: black;
  --bento-gray: #555;
  --bento-white: white;

  /* Bento Layout */
  --bento-base-width: 100vw;
  --container-width: calc(var(--bento-base-width) - var(--scrollbar-width));
  --bento-base-multiplier: 1vw;
  --bento-margin-base: calc(var(--bento-base-multiplier) * 1);
  --bento-margin: calc(var(--bento-margin-base));
  --border-radius: calc(var(--bento-margin-base) * 2);
  --border-width-base: 0.7vw;
  --border-width: var(--border-width-base);

  /* items wide / items per line */
  --items: 10;

  /* width multiplier */
  --width: 1;

  /* height multiplier */
  --height: 1;

  /* item width formula */
  --item-width: calc(var(--bento-base-width) / var(--items) * var(--width) - (var(--width) / var(--items) * 2 + 2) * var(--bento-margin) - var(--scrollbar-width) / var(--items) * var(--width));

  /* item height formula */
  --item-height: calc(var(--bento-base-width) / var(--items) * var(--height) - (var(--height) / var(--items) * 2 + 2) * var(--bento-margin) - var(--scrollbar-width) / var(--items) * var(--height));

  /* 100vw Layout Fix. Do not remove!
     Scrollbar variable for JavaScript. Do not change. */
  --scrollbar-width: 0;

  /* Manual scrollbar offset in pixels, to fine tune the layout, if a scrollbar exists. See updateScrollbarWidthVariable() */
  --scrollbar-width-offset: -5px;

  /* Menu height multiplier */
  --menu-scroll: 1;

  /* Font */
  --header-font-size-base: 3.60vw;
  --header-font-size: var(--header-font-size-base);
  --font-size-base: 1vw;
  --font-size: var(--font-size-base);

  /* Colors */
  /* Burgerbird Blue */
  --burgerbird-blue-hue: 183;
  --burgerbird-blue-hue-string: " 183";
  --burgerbird-blue-saturation: 100%;
  --burgerbird-blue-saturation-string: " 100%";
  --burgerbird-blue-10: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 10%);
  --burgerbird-blue-20: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 20%);
  --burgerbird-blue-30: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 30%);
  --burgerbird-blue-40: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 40%);
  --burgerbird-blue-50: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 50%);
  --burgerbird-blue-60: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 60%);
  --burgerbird-blue-70: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 70%);
  --burgerbird-blue-80: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 80%);
  --burgerbird-blue-90: hsl(var(--burgerbird-blue-hue) var(--burgerbird-blue-saturation) 90%);
  --burgerbird-blue: var(--burgerbird-blue-50);

  /* Burgerbird Green */
  --burgerbird-green-hue: 72;
  --burgerbird-green-hue-string: " 72";
  --burgerbird-green-saturation: 100%;
  --burgerbird-green-saturation-string: " 100%";
  --burgerbird-green-10: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 10%);
  --burgerbird-green-20: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 20%);
  --burgerbird-green-30: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 30%);
  --burgerbird-green-40: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 40%);
  --burgerbird-green-50: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 50%);
  --burgerbird-green-60: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 60%);
  --burgerbird-green-70: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 70%);
  --burgerbird-green-80: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 80%);
  --burgerbird-green-90: hsl(var(--burgerbird-green-hue) var(--burgerbird-green-saturation) 90%);
  --burgerbird-green: var(--burgerbird-green-50);

  /* Burgerbird Yellow */
  --burgerbird-yellow-hue: 56;
  --burgerbird-yellow-hue-string: " 56";
  --burgerbird-yellow-saturation: 100%;
  --burgerbird-yellow-saturation-string: " 100%";
  --burgerbird-yellow-10: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 10%);
  --burgerbird-yellow-20: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 20%);
  --burgerbird-yellow-30: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 30%);
  --burgerbird-yellow-40: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 40%);
  --burgerbird-yellow-50: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 50%);
  --burgerbird-yellow-60: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 60%);
  --burgerbird-yellow-70: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 70%);
  --burgerbird-yellow-80: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 80%);
  --burgerbird-yellow-90: hsl(var(--burgerbird-yellow-hue) var(--burgerbird-yellow-saturation) 90%);
  --burgerbird-yellow: var(--burgerbird-yellow-50);

  /* Element Colors */
  --page-background-color: var(--bento-black);
  --header-elements-color: var(--burgerbird-yellow);

}

.burgerbird-blue {
  --hsl-hue: var(--burgerbird-blue-hue);
  --hsl-hue-string: var(--burgerbird-blue-hue-string);
  --hsl-saturation: var(--burgerbird-blue-saturation);
  --hsl-saturation-string: var(--burgerbird-blue-saturation-string);
}

.burgerbird-green {
  --hsl-hue: var(--burgerbird-green-hue);
  --hsl-hue-string: var(--burgerbird-green-hue-string);
  --hsl-saturation: var(--burgerbird-green-saturation);
  --hsl-saturation-string: var(--burgerbird-green-saturation-string);
}

.burgerbird-yellow {
  --hsl-hue: var(--burgerbird-yellow-hue);
  --hsl-hue-string: var(--burgerbird-yellow-hue-string);
  --hsl-saturation: var(--burgerbird-yellow-saturation);
  --hsl-saturation-string: var(--burgerbird-yellow-saturation-string);
}

.burgerbird-red {
  --hsl-hue: var(--burgerbird-red-hue);
  --hsl-hue-string: var(--burgerbird-red-hue-string);
  --hsl-saturation: var(--burgerbird-red-saturation);
  --hsl-saturation-string: var(--burgerbird-red-saturation-string);
}