footer.hidden
    .cake
        .menu-bar
            a(href='/') Menu Item
            h2
                a.trigger-page-fade-out(href='/') © Burgerbird
script(src='/js/vendor/muuri.js')
script(src='/js/bento.js')