doctype html
html(lang="en")
    include /_pug/head.pug
    body
        include /_pug/preloader.pug
        include /_pug/header.pug
        include /_pug/slide-menu.pug
        main.container
            .grid#grid                
                .item.item-2-2(data-category='color' data-description='color gradients')
                    .item-content.color-columns.color.burgerbird-blue.light
                        div.lightness-50
                        div.lightness-60
                        div.lightness-70
                        div.lightness-80
                .item.item-2-2(data-category='color' data-description='color gradients')
                    .item-content.color-columns.color.burgerbird-blue.dark
                        div.lightness-50
                        div.lightness-40
                        div.lightness-30
                        div.lightness-20
                .item.item-2-2(data-category='color' data-description='color gradients')
                    .item-content.color-columns.color.burgerbird-green.light
                        div.lightness-50
                        div.lightness-60
                        div.lightness-70
                        div.lightness-80
                .item.item-2-2(data-category='color' data-description='color gradients')
                    .item-content.color-columns.color.burgerbird-green.dark
                        div.lightness-50
                        div.lightness-40
                        div.lightness-30
                        div.lightness-20
                .item.item-2-2(data-category='color' data-description='color gradients')
                    .item-content.color-columns.color.burgerbird-yellow.light
                        div.lightness-50
                        div.lightness-60
                        div.lightness-70
                        div.lightness-80
                .item.item-2-2(data-category='color' data-description='color gradients')
                    .item-content.color-columns.color.burgerbird-yellow.dark
                        div.lightness-50
                        div.lightness-40
                        div.lightness-30
                        div.lightness-20
        include /_pug/footer.pug